# Titanic Disaster - Machine Learning from Disaster

[+] https://www.kaggle.com/c/titanic

In [81]:
import pandas as pd
import numpy as np
import joblib

train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

In [82]:
train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [83]:
# test = test.drop(columns=['Name', 'Ticket', 'Fare', 'Cabin'])

print(train.isna().sum())
print(test.isna().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [84]:
train['Age'] = train['Age'].fillna(train['Age'].mean())
train['Embarked'] = train['Embarked'].fillna(train['Embarked'].mode()[0])
# test['Age']=test['Age'].fillna(test['Age'].mean())
# test['Embarked']=test['Embarked'].fillna(test['Embarked'].mode()[0])
train.isna().sum()
# train = train.drop(columns=['Name', 'Ticket', 'Fare', 'Cabin'])

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [85]:
corr = train.corr()
corr

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.033207,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.069809,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.331339,0.083081,0.018443,-0.549500
Age,0.033207,-0.069809,-0.331339,1.000000,-0.232625,-0.179191,0.091566
SibSp,-0.057527,-0.035322,0.083081,-0.232625,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.179191,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.091566,0.159651,0.216225,1.000000

In [86]:
train = train.drop(columns=['Name', 'Ticket', 'Cabin', 'PassengerId'])

In [87]:
train.dtypes

Survived      int64
Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Embarked     object
dtype: object

In [88]:
corr = train.corr()
corr

          Survived    Pclass       Age     SibSp     Parch      Fare
Survived  1.000000 -0.338481 -0.069809 -0.035322  0.081629  0.257307
Pclass   -0.338481  1.000000 -0.331339  0.083081  0.018443 -0.549500
Age      -0.069809 -0.331339  1.000000 -0.232625 -0.179191  0.091566
SibSp    -0.035322  0.083081 -0.232625  1.000000  0.414838  0.159651
Parch     0.081629  0.018443 -0.179191  0.414838  1.000000  0.216225
Fare      0.257307 -0.549500  0.091566  0.159651  0.216225  1.000000

In [89]:
# encoding

from sklearn.preprocessing import LabelEncoder
X = train.drop(columns=['Survived'])
y = train['Survived']
le = LabelEncoder()
X['Sex'] = le.fit_transform(X['Sex'])
joblib.dump(le, 'le.joblib')

['le.joblib']

In [90]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer(
    [('encode', OneHotEncoder(), [6])], remainder='passthrough')
X = ct.fit_transform(X)
joblib.dump(ct, 'ct.joblib')

['ct.joblib']

In [91]:
# Scalling

from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X = sc.fit_transform(X)
joblib.dump(sc, 'sc.joblib')

['sc.joblib']

In [100]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=.2,random_state=5)

In [106]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

classifier = SVC(C=1)
# classifier = SVC(kernel='rbf', random_state=0)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)
print(accuracy_score(y_test, y_pred))

joblib.dump(classifier,'classifier.joblib')

0.8379888268156425

['classifier.joblib']